<button mat-raised-button color="primary" (click)="getCurrentUser()">current</button>
<button mat-raised-button color="primary" (click)="logout()">logout</button>
@if (currentUser) {
  <div>Hallo {{ currentUser.firstName | json }}</div>
} @else {
  <div>Kan de gebruiker niet vinden man</div>
}
<div class="cards">
  @for (product of products; track $index) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a
            mat-button
            color="primary"
            [title]="product.name + ' details'"
            [routerLink]="['/products', product.id]"
          >
            {{ product.name }}
          </a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if (product.description) {
          <p>Description: {{ product.description }}</p>
        }
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addToCart(product)">
          Add to cart
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
