<p>order works!</p>
<div>
  <div class="cart-item" *ngFor="let product of getProducts()">
    <span>{{ product.name }}</span>
    <span>{{ product.price }}</span>
  </div>
</div>

<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Name </label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="address"> Address </label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <button class="btn btn-primary">Submit form</button>
</form>
