<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    routerLink="/"
  >
    <mat-icon>home</mat-icon>
  </button>
  <span> My Store </span>
  <span class="example-spacer"></span>
  <div style="display: flex; gap: 1rem">
    @if (authenticated) {
      <span>Hello {{ curerentUser?.name }}</span>
      <button mat-raised-button (click)="logout()">Logout</button>
    } @else {
      <button mat-raised-button routerLink="/login">Login</button>
    }
  </div>
  <button
    mat-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    routerLink="/cart"
  >
    <mat-icon>shopping_cart</mat-icon>
    Checkout
  </button>
</mat-toolbar>
